---
layout: revealjs
title: not used. Use _config.yml!
---



{% include_relative _reveal-slides/welcome.md  %}

---

## Math Support
###  The Lorenz Equations

$$ \dot{x}  = \sigma(y-x) $$

$$ \dot{y} =  \rho x - y - xz $$

$$ \dot{z}  = -\beta z + xy $$

### More Equations

$$ J(\theta_0,\theta_1) = \sum_{i=0} $$

---

{% include_relative  _reveal-slides/slides.md  %}

---

{% include_relative  _reveal-slides/fragments.md  %}

---


## Non Markdown Import

You can add slides / content right in the slides.html file

or 

Just import them in.

---

{% include_relative  _reveal-slides/background.md  %}

---

{% include_relative  _reveal-slides/notes.md  %}

